USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[Stg_AgendaDiaCSV]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_AgendaDiaCSV](
	[FuncionarioChave] [nvarchar](4000) NULL,
	[DataStr] [nvarchar](4000) NULL,
	[Codigo] [nvarchar](4000) NULL,
	[Fonte] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
