USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[Stg_CalendarioCSV]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_CalendarioCSV](
	[DataStr] [nvarchar](4000) NULL,
	[EhFimDeSemanaStr] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
