USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[FuncionarioHierarquia]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuncionarioHierarquia](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SuperiorChave] [varchar](50) NOT NULL,
	[SubordinadoChave] [varchar](50) NOT NULL,
	[TipoRelacao] [varchar](30) NULL,
	[DtInicio] [date] NOT NULL,
	[DtFim] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FuncionarioHierarquia] ADD  CONSTRAINT [DF_FuncHier_DtInicio]  DEFAULT ('19000101') FOR [DtInicio]
GO
ALTER TABLE [dbo].[FuncionarioHierarquia] ADD  CONSTRAINT [DF_FuncHier_DtFim]  DEFAULT ('99991231') FOR [DtFim]
GO
