USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Chave] [char](4) NOT NULL,
	[Matricula] [varchar](30) NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[Funcao] [nvarchar](120) NULL,
	[HierarquiaCodigoOriginal] [varchar](20) NULL,
	[HierarquiaTipoSugerido] [varchar](20) NULL,
	[HierarquiaObservacao] [nvarchar](200) NULL,
	[Ativo] [bit] NOT NULL,
	[CriadoEm] [datetime2](0) NOT NULL,
	[AtualizadoEm] [datetime2](0) NULL,
 CONSTRAINT [PK_Funcionarios] PRIMARY KEY CLUSTERED 
(
	[Chave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Funcionarios] ADD  CONSTRAINT [DF_Funcionarios_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Funcionarios] ADD  CONSTRAINT [DF_Funcionarios_CriadoEm]  DEFAULT (sysutcdatetime()) FOR [CriadoEm]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [CK_Funcionarios_Chave4] CHECK  ((len([Chave])=(4)))
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [CK_Funcionarios_Chave4]
GO
