USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[LegendaCodigo]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LegendaCodigo](
	[Codigo] [varchar](10) NOT NULL,
	[Descricao] [nvarchar](120) NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
	[Icone] [nvarchar](80) NULL,
	[Ordem] [int] NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_LegendaCodigo] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LegendaCodigo] ADD  CONSTRAINT [DF_LegendaCodigo_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[LegendaCodigo]  WITH CHECK ADD  CONSTRAINT [CK_LegendaCodigo_Tipo] CHECK  (([Tipo]='LOCAL' OR [Tipo]='EVENTO' OR [Tipo]='STATUS'))
GO
ALTER TABLE [dbo].[LegendaCodigo] CHECK CONSTRAINT [CK_LegendaCodigo_Tipo]
GO
