USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[Funcionarios_ImportRejeitados]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios_ImportRejeitados](
	[RejeitadoId] [int] IDENTITY(1,1) NOT NULL,
	[Motivo] [nvarchar](200) NOT NULL,
	[Funcao] [nvarchar](200) NULL,
	[Matricula] [nvarchar](200) NULL,
	[Nome] [nvarchar](200) NULL,
	[Chave] [nvarchar](200) NULL,
	[Quant] [nvarchar](200) NULL,
	[ImportadoEm] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RejeitadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Funcionarios_ImportRejeitados] ADD  DEFAULT (sysutcdatetime()) FOR [ImportadoEm]
GO
