USE [P83_Agenda]
GO
/****** Object:  View [dbo].[vw_HierarquiaCompleta]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_HierarquiaCompleta]
AS
WITH Base AS (
    SELECT
        f.Chave AS RaizChave
    FROM dbo.Funcionarios f
    WHERE f.Ativo = 1
),

-- =========================
-- 1) SUBIR (chefia acima)
-- =========================
Subir AS (
    -- anchor: começa na raiz (nível 0, sem superior definido aqui)
    SELECT
        b.RaizChave,
        CAST(0 AS INT) AS Nivel,
        CAST(NULL AS VARCHAR(50)) AS SuperiorChave,
        CAST(b.RaizChave AS VARCHAR(50)) AS Chave
    FROM Base b

    UNION ALL

    -- sobe: encontra quem tem a raiz como subordinado (ou seja, o superior direto)
    SELECT
        s.RaizChave,
        s.Nivel - 1 AS Nivel,
        CAST(h.SuperiorChave AS VARCHAR(50)) AS SuperiorChave,
        CAST(h.SuperiorChave AS VARCHAR(50)) AS Chave
    FROM Subir s
    JOIN dbo.FuncionarioHierarquia h
      ON h.SubordinadoChave = s.Chave
     AND h.DtFim >= CONVERT(date, GETDATE())
),

-- =========================
-- 2) DESCER (subordinados)
-- =========================
Descer AS (
    -- anchor: raiz
    SELECT
        b.RaizChave,
        CAST(0 AS INT) AS Nivel,
        CAST(NULL AS VARCHAR(50)) AS SuperiorChave,
        CAST(b.RaizChave AS VARCHAR(50)) AS Chave
    FROM Base b

    UNION ALL

    -- desce: subordinados diretos
    SELECT
        d.RaizChave,
        d.Nivel + 1 AS Nivel,
        CAST(h.SuperiorChave AS VARCHAR(50)) AS SuperiorChave,
        CAST(h.SubordinadoChave AS VARCHAR(50)) AS Chave
    FROM Descer d
    JOIN dbo.FuncionarioHierarquia h
      ON h.SuperiorChave = d.Chave
     AND h.DtFim >= CONVERT(date, GETDATE())
),

Uni AS (
    -- junta subir e descer, removendo duplicata do nível 0
    SELECT * FROM Descer
    UNION
    SELECT * FROM Subir
)

SELECT DISTINCT
    u.RaizChave,
    u.Nivel,

    u.SuperiorChave,
    sup.Nome   AS SuperiorNome,
    sup.Funcao AS SuperiorFuncao,

    u.Chave,
    f.Nome,
    f.Funcao
FROM Uni u
JOIN dbo.Funcionarios f
  ON f.Chave = u.Chave
LEFT JOIN dbo.Funcionarios sup
  ON sup.Chave = u.SuperiorChave
WHERE f.Ativo = 1;

GO
