USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[HierarquiaNiveis]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HierarquiaNiveis](
	[HierarquiaNivelId] [int] IDENTITY(1,1) NOT NULL,
	[CodigoNivel] [varchar](20) NOT NULL,
	[Descricao] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_HierarquiaNiveis] PRIMARY KEY CLUSTERED 
(
	[HierarquiaNivelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UX_HierarquiaNiveis_Codigo] UNIQUE NONCLUSTERED 
(
	[CodigoNivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
