USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[AgendaDia]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgendaDia](
	[AgendaDiaId] [bigint] IDENTITY(1,1) NOT NULL,
	[FuncionarioChave] [char](4) NOT NULL,
	[Data] [date] NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[Fonte] [varchar](20) NOT NULL,
	[Observacao] [nvarchar](250) NULL,
	[CriadoEm] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_AgendaDia] PRIMARY KEY CLUSTERED 
(
	[AgendaDiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AgendaDia] ADD  CONSTRAINT [DF_AgendaDia_Fonte]  DEFAULT ('ESCALA') FOR [Fonte]
GO
ALTER TABLE [dbo].[AgendaDia] ADD  CONSTRAINT [DF_AgendaDia_CriadoEm]  DEFAULT (sysutcdatetime()) FOR [CriadoEm]
GO
ALTER TABLE [dbo].[AgendaDia]  WITH CHECK ADD  CONSTRAINT [FK_AgendaDia_Funcionarios] FOREIGN KEY([FuncionarioChave])
REFERENCES [dbo].[Funcionarios] ([Chave])
GO
ALTER TABLE [dbo].[AgendaDia] CHECK CONSTRAINT [FK_AgendaDia_Funcionarios]
GO
ALTER TABLE [dbo].[AgendaDia]  WITH CHECK ADD  CONSTRAINT [FK_AgendaDia_LegendaCodigo] FOREIGN KEY([Codigo])
REFERENCES [dbo].[LegendaCodigo] ([Codigo])
GO
ALTER TABLE [dbo].[AgendaDia] CHECK CONSTRAINT [FK_AgendaDia_LegendaCodigo]
GO
