USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[Stg_FuncionariosCSV]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_FuncionariosCSV](
	[Funcao] [nvarchar](4000) NULL,
	[Matricula] [nvarchar](4000) NULL,
	[Nome] [nvarchar](4000) NULL,
	[Chave] [nvarchar](4000) NULL,
	[Quant] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
