USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[HierarquiaRegras]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HierarquiaRegras](
	[HierarquiaRegraId] [int] IDENTITY(1,1) NOT NULL,
	[Padrao] [varchar](50) NOT NULL,
	[TipoSugerido] [varchar](20) NOT NULL,
	[Observacao] [nvarchar](200) NULL,
 CONSTRAINT [PK_HierarquiaRegras] PRIMARY KEY CLUSTERED 
(
	[HierarquiaRegraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
