USE [P83_Agenda]
GO
/****** Object:  Table [dbo].[AgendaPeriodo]    Script Date: 01/01/2026 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgendaPeriodo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FuncionarioChave] [char](4) NOT NULL,
	[DataInicio] [date] NOT NULL,
	[DataFim] [date] NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[Observacao] [varchar](200) NULL,
	[Fonte] [varchar](20) NOT NULL,
	[CriadoEm] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AgendaPeriodo] ADD  DEFAULT (sysdatetime()) FOR [CriadoEm]
GO
