USE [P83_Agenda]
GO
/****** Object:  User [A1QB]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [A1QB] FOR LOGIN [A1QB] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AJP2]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [AJP2] FOR LOGIN [AJP2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AS4D]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [AS4D] FOR LOGIN [AS4D] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AS4K]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [AS4K] FOR LOGIN [AS4K] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AT7D]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [AT7D] FOR LOGIN [AT7D] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ATJC]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [ATJC] FOR LOGIN [ATJC] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [B0X1]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [B0X1] FOR LOGIN [B0X1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [B1S8]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [B1S8] FOR LOGIN [B1S8] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [B1WH]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [B1WH] FOR LOGIN [B1WH] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [B25O]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [B25O] FOR LOGIN [B25O] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [B2NK]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [B2NK] FOR LOGIN [B2NK] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [B5QM]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [B5QM] FOR LOGIN [B5QM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BETN]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [BETN] FOR LOGIN [BETN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BH1E]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [BH1E] FOR LOGIN [BH1E] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BHQ1]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [BHQ1] FOR LOGIN [BHQ1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BTKP]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [BTKP] FOR LOGIN [BTKP] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CNWT]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [CNWT] FOR LOGIN [CNWT] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CX1A]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [CX1A] FOR LOGIN [CX1A] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CXLT]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [CXLT] FOR LOGIN [CXLT] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [D2HS]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [D2HS] FOR LOGIN [D2HS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DAGD]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [DAGD] FOR LOGIN [DAGD] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DAJA]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [DAJA] FOR LOGIN [DAJA] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DAJU]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [DAJU] FOR LOGIN [DAJU] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [E8FU]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [E8FU] FOR LOGIN [E8FU] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [EK5H]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [EK5H] FOR LOGIN [EK5H] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [EKID]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [EKID] FOR LOGIN [EKID] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [F08F]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [F08F] FOR LOGIN [F08F] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [F8CK]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [F8CK] FOR LOGIN [F8CK] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [F8ML]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [F8ML] FOR LOGIN [F8ML] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [F8TR]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [F8TR] FOR LOGIN [F8TR] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [F8ZW]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [F8ZW] FOR LOGIN [F8ZW] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [F941]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [F941] FOR LOGIN [F941] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [F955]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [F955] FOR LOGIN [F955] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [F9SG]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [F9SG] FOR LOGIN [F9SG] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FETX]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FETX] FOR LOGIN [FETX] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FMB1]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FMB1] FOR LOGIN [FMB1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FMKI]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FMKI] FOR LOGIN [FMKI] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FN2K]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FN2K] FOR LOGIN [FN2K] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FN3R]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FN3R] FOR LOGIN [FN3R] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FRA2]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FRA2] FOR LOGIN [FRA2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FRCF]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FRCF] FOR LOGIN [FRCF] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FRD9]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FRD9] FOR LOGIN [FRD9] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FRF2]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FRF2] FOR LOGIN [FRF2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FVU9]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FVU9] FOR LOGIN [FVU9] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FVUJ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FVUJ] FOR LOGIN [FVUJ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FVV9]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FVV9] FOR LOGIN [FVV9] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FVVP]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FVVP] FOR LOGIN [FVVP] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FVXU]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FVXU] FOR LOGIN [FVXU] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FVY9]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FVY9] FOR LOGIN [FVY9] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FVZ9]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FVZ9] FOR LOGIN [FVZ9] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW0F]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW0F] FOR LOGIN [FW0F] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW0R]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW0R] FOR LOGIN [FW0R] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW1B]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW1B] FOR LOGIN [FW1B] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW1V]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW1V] FOR LOGIN [FW1V] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW3B]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW3B] FOR LOGIN [FW3B] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW4D]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW4D] FOR LOGIN [FW4D] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW4S]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW4S] FOR LOGIN [FW4S] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW5G]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW5G] FOR LOGIN [FW5G] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW6C]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW6C] FOR LOGIN [FW6C] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW7G]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW7G] FOR LOGIN [FW7G] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW8D]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW8D] FOR LOGIN [FW8D] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW8J]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW8J] FOR LOGIN [FW8J] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FW9S]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FW9S] FOR LOGIN [FW9S] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FWAZ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FWAZ] FOR LOGIN [FWAZ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FWDE]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FWDE] FOR LOGIN [FWDE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FWDG]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FWDG] FOR LOGIN [FWDG] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FWEC]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FWEC] FOR LOGIN [FWEC] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FWIK]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [FWIK] FOR LOGIN [FWIK] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GMBD]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [GMBD] FOR LOGIN [GMBD] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [JMU9]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [JMU9] FOR LOGIN [JMU9] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [K5KA]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [K5KA] FOR LOGIN [K5KA] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [KAZZ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [KAZZ] FOR LOGIN [KAZZ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [KB1O]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [KB1O] FOR LOGIN [KB1O] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [KEFZ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [KEFZ] FOR LOGIN [KEFZ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [L1MJ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [L1MJ] FOR LOGIN [L1MJ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LDKC]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [LDKC] FOR LOGIN [LDKC] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LMIN]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [LMIN] FOR LOGIN [LMIN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LNIG]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [LNIG] FOR LOGIN [LNIG] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LPLK]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [LPLK] FOR LOGIN [LPLK] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LPZH]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [LPZH] FOR LOGIN [LPZH] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [M37G]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [M37G] FOR LOGIN [M37G] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [M37H]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [M37H] FOR LOGIN [M37H] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [M37R]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [M37R] FOR LOGIN [M37R] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [M37Z]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [M37Z] FOR LOGIN [M37Z] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MABJ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [MABJ] FOR LOGIN [MABJ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MAEV]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [MAEV] FOR LOGIN [MAEV] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MCD1]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [MCD1] FOR LOGIN [MCD1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MCW5]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [MCW5] FOR LOGIN [MCW5] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MG0B]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [MG0B] FOR LOGIN [MG0B] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MGKJ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [MGKJ] FOR LOGIN [MGKJ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MOP3]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [MOP3] FOR LOGIN [MOP3] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [N5VI]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [N5VI] FOR LOGIN [N5VI] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [N7G5]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [N7G5] FOR LOGIN [N7G5] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NA1Y]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NA1Y] FOR LOGIN [NA1Y] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NA2L]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NA2L] FOR LOGIN [NA2L] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NA2O]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NA2O] FOR LOGIN [NA2O] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NS0U]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NS0U] FOR LOGIN [NS0U] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NS1H]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NS1H] FOR LOGIN [NS1H] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NS1R]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NS1R] FOR LOGIN [NS1R] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NS27]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NS27] FOR LOGIN [NS27] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NSAZ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NSAZ] FOR LOGIN [NSAZ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NSXY]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NSXY] FOR LOGIN [NSXY] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NSYD]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NSYD] FOR LOGIN [NSYD] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NSYK]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NSYK] FOR LOGIN [NSYK] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NSZD]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NSZD] FOR LOGIN [NSZD] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NVBN]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NVBN] FOR LOGIN [NVBN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NVMJ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NVMJ] FOR LOGIN [NVMJ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NVPM]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NVPM] FOR LOGIN [NVPM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NVR7]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [NVR7] FOR LOGIN [NVR7] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [P83]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [P83] FOR LOGIN [P83_Login] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PD0U]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [PD0U] FOR LOGIN [PD0U] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PDBP]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [PDBP] FOR LOGIN [PDBP] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PDEK]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [PDEK] FOR LOGIN [PDEK] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PDSO]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [PDSO] FOR LOGIN [PDSO] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PL7B]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [PL7B] FOR LOGIN [PL7B] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RH7F]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [RH7F] FOR LOGIN [RH7F] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RLG3]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [RLG3] FOR LOGIN [RLG3] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RLGX]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [RLGX] FOR LOGIN [RLGX] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RM4Y]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [RM4Y] FOR LOGIN [RM4Y] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RMNF]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [RMNF] FOR LOGIN [RMNF] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RT3W]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [RT3W] FOR LOGIN [RT3W] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RTNM]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [RTNM] FOR LOGIN [RTNM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RTVS]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [RTVS] FOR LOGIN [RTVS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RV0N]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [RV0N] FOR LOGIN [RV0N] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RWEU]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [RWEU] FOR LOGIN [RWEU] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [S229]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [S229] FOR LOGIN [S229] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [S24Y]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [S24Y] FOR LOGIN [S24Y] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [S7AK]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [S7AK] FOR LOGIN [S7AK] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SLDR]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [SLDR] FOR LOGIN [SLDR] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [TFBN]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [TFBN] FOR LOGIN [TFBN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [U36Q]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [U36Q] FOR LOGIN [U36Q] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [U3PE]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [U3PE] FOR LOGIN [U3PE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [U3PX]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [U3PX] FOR LOGIN [U3PX] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [U4IC]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [U4IC] FOR LOGIN [U4IC] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [U4OB]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [U4OB] FOR LOGIN [U4OB] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [U4XE]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [U4XE] FOR LOGIN [U4XE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UPDJ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [UPDJ] FOR LOGIN [UPDJ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UR9B]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [UR9B] FOR LOGIN [UR9B] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UREQ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [UREQ] FOR LOGIN [UREQ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URFA]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URFA] FOR LOGIN [URFA] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URFB]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URFB] FOR LOGIN [URFB] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URFG]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URFG] FOR LOGIN [URFG] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URGU]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URGU] FOR LOGIN [URGU] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URI2]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URI2] FOR LOGIN [URI2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URJ1]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URJ1] FOR LOGIN [URJ1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URNN]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URNN] FOR LOGIN [URNN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URON]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URON] FOR LOGIN [URON] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URP3]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URP3] FOR LOGIN [URP3] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URPQ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URPQ] FOR LOGIN [URPQ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URSS]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URSS] FOR LOGIN [URSS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URUG]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URUG] FOR LOGIN [URUG] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URVX]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URVX] FOR LOGIN [URVX] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [URYS]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [URYS] FOR LOGIN [URYS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WMFR]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [WMFR] FOR LOGIN [WMFR] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WS3M]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [WS3M] FOR LOGIN [WS3M] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WTK2]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [WTK2] FOR LOGIN [WTK2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WU3X]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [WU3X] FOR LOGIN [WU3X] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WUYB]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [WUYB] FOR LOGIN [WUYB] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WV48]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [WV48] FOR LOGIN [WV48] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WV8P]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [WV8P] FOR LOGIN [WV8P] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WV8V]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [WV8V] FOR LOGIN [WV8V] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WVY4]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [WVY4] FOR LOGIN [WVY4] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [XBWR]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [XBWR] FOR LOGIN [XBWR] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [XDDH]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [XDDH] FOR LOGIN [XDDH] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [XDZY]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [XDZY] FOR LOGIN [XDZY] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [YMOF]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [YMOF] FOR LOGIN [YMOF] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [YR1R]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [YR1R] FOR LOGIN [YR1R] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [YRAJ]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [YRAJ] FOR LOGIN [YRAJ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [YT3I]    Script Date: 05/01/2026 08:34:57 ******/
CREATE USER [YT3I] FOR LOGIN [YT3I] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [ADM]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [ADM]
GO
/****** Object:  DatabaseRole [COEMB]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [COEMB]
GO
/****** Object:  DatabaseRole [COMAN]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [COMAN]
GO
/****** Object:  DatabaseRole [COPROD]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [COPROD]
GO
/****** Object:  DatabaseRole [ENG]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [ENG]
GO
/****** Object:  DatabaseRole [GEOP]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [GEOP]
GO
/****** Object:  DatabaseRole [GEPLAT]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [GEPLAT]
GO
/****** Object:  DatabaseRole [SUEIN]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [SUEIN]
GO
/****** Object:  DatabaseRole [SUEMB]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [SUEMB]
GO
/****** Object:  DatabaseRole [SUMEC]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [SUMEC]
GO
/****** Object:  DatabaseRole [SUPROD]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [SUPROD]
GO
/****** Object:  DatabaseRole [TLT]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [TLT]
GO
/****** Object:  DatabaseRole [TMA]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [TMA]
GO
/****** Object:  DatabaseRole [TME]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [TME]
GO
/****** Object:  DatabaseRole [TMI]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [TMI]
GO
/****** Object:  DatabaseRole [TMM]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [TMM]
GO
/****** Object:  DatabaseRole [TO_E]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [TO_E]
GO
/****** Object:  DatabaseRole [TO_P]    Script Date: 05/01/2026 08:34:57 ******/
CREATE ROLE [TO_P]
GO
ALTER ROLE [TMM] ADD MEMBER [A1QB]
GO
ALTER ROLE [ADM] ADD MEMBER [AJP2]
GO
ALTER ROLE [TO_P] ADD MEMBER [AS4D]
GO
ALTER ROLE [TO_P] ADD MEMBER [AS4K]
GO
ALTER ROLE [TLT] ADD MEMBER [AT7D]
GO
ALTER ROLE [TO_P] ADD MEMBER [ATJC]
GO
ALTER ROLE [TO_P] ADD MEMBER [B0X1]
GO
ALTER ROLE [SUEMB] ADD MEMBER [B1S8]
GO
ALTER ROLE [TO_E] ADD MEMBER [B1WH]
GO
ALTER ROLE [TMI] ADD MEMBER [B25O]
GO
ALTER ROLE [TMI] ADD MEMBER [B2NK]
GO
ALTER ROLE [ENG] ADD MEMBER [B5QM]
GO
ALTER ROLE [ENG] ADD MEMBER [BETN]
GO
ALTER ROLE [GEPLAT] ADD MEMBER [BH1E]
GO
ALTER ROLE [COPROD] ADD MEMBER [BHQ1]
GO
ALTER ROLE [TO_E] ADD MEMBER [BTKP]
GO
ALTER ROLE [TO_P] ADD MEMBER [CNWT]
GO
ALTER ROLE [COPROD] ADD MEMBER [CX1A]
GO
ALTER ROLE [GEPLAT] ADD MEMBER [CXLT]
GO
ALTER ROLE [ADM] ADD MEMBER [D2HS]
GO
ALTER ROLE [TO_P] ADD MEMBER [DAGD]
GO
ALTER ROLE [TO_P] ADD MEMBER [DAJA]
GO
ALTER ROLE [TO_P] ADD MEMBER [DAJU]
GO
ALTER ROLE [TME] ADD MEMBER [E8FU]
GO
ALTER ROLE [COEMB] ADD MEMBER [EK5H]
GO
ALTER ROLE [TMI] ADD MEMBER [EKID]
GO
ALTER ROLE [TO_P] ADD MEMBER [F08F]
GO
ALTER ROLE [TO_P] ADD MEMBER [F8CK]
GO
ALTER ROLE [TME] ADD MEMBER [F8ML]
GO
ALTER ROLE [TO_E] ADD MEMBER [F8TR]
GO
ALTER ROLE [TO_P] ADD MEMBER [F8ZW]
GO
ALTER ROLE [TO_E] ADD MEMBER [F941]
GO
ALTER ROLE [TO_E] ADD MEMBER [F955]
GO
ALTER ROLE [TME] ADD MEMBER [F9SG]
GO
ALTER ROLE [ENG] ADD MEMBER [FETX]
GO
ALTER ROLE [GEPLAT] ADD MEMBER [FMB1]
GO
ALTER ROLE [TMA] ADD MEMBER [FMKI]
GO
ALTER ROLE [TO_P] ADD MEMBER [FN2K]
GO
ALTER ROLE [TMM] ADD MEMBER [FN3R]
GO
ALTER ROLE [SUPROD] ADD MEMBER [FRA2]
GO
ALTER ROLE [SUEIN] ADD MEMBER [FRCF]
GO
ALTER ROLE [SUMEC] ADD MEMBER [FRD9]
GO
ALTER ROLE [TO_P] ADD MEMBER [FRF2]
GO
ALTER ROLE [TMM] ADD MEMBER [FVU9]
GO
ALTER ROLE [TO_P] ADD MEMBER [FVUJ]
GO
ALTER ROLE [TO_P] ADD MEMBER [FVV9]
GO
ALTER ROLE [TO_P] ADD MEMBER [FVVP]
GO
ALTER ROLE [TO_P] ADD MEMBER [FVXU]
GO
ALTER ROLE [TO_P] ADD MEMBER [FVY9]
GO
ALTER ROLE [TO_P] ADD MEMBER [FVZ9]
GO
ALTER ROLE [TO_P] ADD MEMBER [FW0F]
GO
ALTER ROLE [TO_P] ADD MEMBER [FW0R]
GO
ALTER ROLE [TO_P] ADD MEMBER [FW1B]
GO
ALTER ROLE [TO_P] ADD MEMBER [FW1V]
GO
ALTER ROLE [TO_P] ADD MEMBER [FW3B]
GO
ALTER ROLE [TO_P] ADD MEMBER [FW4D]
GO
ALTER ROLE [TO_P] ADD MEMBER [FW4S]
GO
ALTER ROLE [TO_P] ADD MEMBER [FW5G]
GO
ALTER ROLE [TMI] ADD MEMBER [FW6C]
GO
ALTER ROLE [TO_P] ADD MEMBER [FW7G]
GO
ALTER ROLE [TO_P] ADD MEMBER [FW8D]
GO
ALTER ROLE [TLT] ADD MEMBER [FW8J]
GO
ALTER ROLE [TMI] ADD MEMBER [FW9S]
GO
ALTER ROLE [TO_P] ADD MEMBER [FWAZ]
GO
ALTER ROLE [TO_E] ADD MEMBER [FWDE]
GO
ALTER ROLE [TO_P] ADD MEMBER [FWDG]
GO
ALTER ROLE [TO_P] ADD MEMBER [FWEC]
GO
ALTER ROLE [TO_P] ADD MEMBER [FWIK]
GO
ALTER ROLE [TMA] ADD MEMBER [GMBD]
GO
ALTER ROLE [GEOP] ADD MEMBER [JMU9]
GO
ALTER ROLE [TO_E] ADD MEMBER [K5KA]
GO
ALTER ROLE [TMA] ADD MEMBER [KAZZ]
GO
ALTER ROLE [SUPROD] ADD MEMBER [KB1O]
GO
ALTER ROLE [TMI] ADD MEMBER [KEFZ]
GO
ALTER ROLE [TME] ADD MEMBER [L1MJ]
GO
ALTER ROLE [TME] ADD MEMBER [LDKC]
GO
ALTER ROLE [TMI] ADD MEMBER [LMIN]
GO
ALTER ROLE [SUEMB] ADD MEMBER [LNIG]
GO
ALTER ROLE [TMI] ADD MEMBER [LPLK]
GO
ALTER ROLE [TO_P] ADD MEMBER [LPZH]
GO
ALTER ROLE [TO_P] ADD MEMBER [M37G]
GO
ALTER ROLE [TO_P] ADD MEMBER [M37H]
GO
ALTER ROLE [SUPROD] ADD MEMBER [M37R]
GO
ALTER ROLE [TO_P] ADD MEMBER [M37Z]
GO
ALTER ROLE [TME] ADD MEMBER [MABJ]
GO
ALTER ROLE [TME] ADD MEMBER [MAEV]
GO
ALTER ROLE [SUEMB] ADD MEMBER [MCD1]
GO
ALTER ROLE [TMM] ADD MEMBER [MCW5]
GO
ALTER ROLE [SUMEC] ADD MEMBER [MG0B]
GO
ALTER ROLE [TME] ADD MEMBER [MGKJ]
GO
ALTER ROLE [TME] ADD MEMBER [MOP3]
GO
ALTER ROLE [TMI] ADD MEMBER [N5VI]
GO
ALTER ROLE [TO_E] ADD MEMBER [N7G5]
GO
ALTER ROLE [SUPROD] ADD MEMBER [NA1Y]
GO
ALTER ROLE [TO_P] ADD MEMBER [NA2L]
GO
ALTER ROLE [TO_E] ADD MEMBER [NA2O]
GO
ALTER ROLE [TO_E] ADD MEMBER [NS0U]
GO
ALTER ROLE [TO_P] ADD MEMBER [NS1H]
GO
ALTER ROLE [TO_P] ADD MEMBER [NS1R]
GO
ALTER ROLE [TO_E] ADD MEMBER [NS27]
GO
ALTER ROLE [SUMEC] ADD MEMBER [NSAZ]
GO
ALTER ROLE [TME] ADD MEMBER [NSXY]
GO
ALTER ROLE [COMAN] ADD MEMBER [NSYD]
GO
ALTER ROLE [TO_P] ADD MEMBER [NSYK]
GO
ALTER ROLE [TO_E] ADD MEMBER [NSZD]
GO
ALTER ROLE [SUEIN] ADD MEMBER [NVBN]
GO
ALTER ROLE [TMA] ADD MEMBER [NVMJ]
GO
ALTER ROLE [TO_P] ADD MEMBER [NVPM]
GO
ALTER ROLE [TME] ADD MEMBER [NVR7]
GO
ALTER ROLE [db_owner] ADD MEMBER [P83]
GO
ALTER ROLE [TMI] ADD MEMBER [PD0U]
GO
ALTER ROLE [TMM] ADD MEMBER [PDBP]
GO
ALTER ROLE [TMM] ADD MEMBER [PDEK]
GO
ALTER ROLE [TMI] ADD MEMBER [PDSO]
GO
ALTER ROLE [TMM] ADD MEMBER [PL7B]
GO
ALTER ROLE [TO_P] ADD MEMBER [RH7F]
GO
ALTER ROLE [TME] ADD MEMBER [RLG3]
GO
ALTER ROLE [TO_P] ADD MEMBER [RLGX]
GO
ALTER ROLE [SUEMB] ADD MEMBER [RM4Y]
GO
ALTER ROLE [TO_P] ADD MEMBER [RMNF]
GO
ALTER ROLE [TME] ADD MEMBER [RT3W]
GO
ALTER ROLE [TO_P] ADD MEMBER [RTNM]
GO
ALTER ROLE [TO_E] ADD MEMBER [RTVS]
GO
ALTER ROLE [TO_P] ADD MEMBER [RV0N]
GO
ALTER ROLE [SUEIN] ADD MEMBER [RWEU]
GO
ALTER ROLE [TME] ADD MEMBER [S229]
GO
ALTER ROLE [TLT] ADD MEMBER [S24Y]
GO
ALTER ROLE [TO_P] ADD MEMBER [S7AK]
GO
ALTER ROLE [SUMEC] ADD MEMBER [SLDR]
GO
ALTER ROLE [COMAN] ADD MEMBER [TFBN]
GO
ALTER ROLE [TO_E] ADD MEMBER [U36Q]
GO
ALTER ROLE [ENG] ADD MEMBER [U3PE]
GO
ALTER ROLE [ENG] ADD MEMBER [U3PX]
GO
ALTER ROLE [COPROD] ADD MEMBER [U4IC]
GO
ALTER ROLE [COMAN] ADD MEMBER [U4OB]
GO
ALTER ROLE [COEMB] ADD MEMBER [U4XE]
GO
ALTER ROLE [COEMB] ADD MEMBER [UPDJ]
GO
ALTER ROLE [TO_P] ADD MEMBER [UR9B]
GO
ALTER ROLE [SUPROD] ADD MEMBER [UREQ]
GO
ALTER ROLE [TMI] ADD MEMBER [URFA]
GO
ALTER ROLE [TMA] ADD MEMBER [URFB]
GO
ALTER ROLE [TMI] ADD MEMBER [URFG]
GO
ALTER ROLE [ENG] ADD MEMBER [URGU]
GO
ALTER ROLE [TO_P] ADD MEMBER [URI2]
GO
ALTER ROLE [TME] ADD MEMBER [URJ1]
GO
ALTER ROLE [TMM] ADD MEMBER [URNN]
GO
ALTER ROLE [TO_P] ADD MEMBER [URON]
GO
ALTER ROLE [TMM] ADD MEMBER [URP3]
GO
ALTER ROLE [COPROD] ADD MEMBER [URPQ]
GO
ALTER ROLE [TO_P] ADD MEMBER [URSS]
GO
ALTER ROLE [TMM] ADD MEMBER [URUG]
GO
ALTER ROLE [TMM] ADD MEMBER [URVX]
GO
ALTER ROLE [TO_P] ADD MEMBER [URYS]
GO
ALTER ROLE [TMM] ADD MEMBER [WMFR]
GO
ALTER ROLE [TO_P] ADD MEMBER [WS3M]
GO
ALTER ROLE [TO_P] ADD MEMBER [WTK2]
GO
ALTER ROLE [TMI] ADD MEMBER [WU3X]
GO
ALTER ROLE [TME] ADD MEMBER [WUYB]
GO
ALTER ROLE [TMI] ADD MEMBER [WV48]
GO
ALTER ROLE [SUMEC] ADD MEMBER [WV8P]
GO
ALTER ROLE [TMM] ADD MEMBER [WV8V]
GO
ALTER ROLE [SUEIN] ADD MEMBER [WVY4]
GO
ALTER ROLE [TO_P] ADD MEMBER [XBWR]
GO
ALTER ROLE [TMM] ADD MEMBER [XDDH]
GO
ALTER ROLE [TO_E] ADD MEMBER [XDZY]
GO
ALTER ROLE [COEMB] ADD MEMBER [YMOF]
GO
ALTER ROLE [TMM] ADD MEMBER [YR1R]
GO
ALTER ROLE [SUEMB] ADD MEMBER [YRAJ]
GO
ALTER ROLE [SUEIN] ADD MEMBER [YT3I]
GO
/****** Object:  Table [dbo].[AgendaDia]    Script Date: 05/01/2026 08:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgendaDia](
	[AgendaDiaId] [bigint] IDENTITY(1,1) NOT NULL,
	[FuncionarioChave] [char](4) NOT NULL,
	[Data] [date] NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[Fonte] [varchar](20) NOT NULL,
	[Observacao] [nvarchar](250) NULL,
	[CriadoEm] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_AgendaDia] PRIMARY KEY CLUSTERED 
(
	[AgendaDiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendario]    Script Date: 05/01/2026 08:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendario](
	[Data] [date] NOT NULL,
	[Ano] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Dia] [int] NOT NULL,
	[DiaSemana] [tinyint] NOT NULL,
	[NomeDiaSemana] [varchar](10) NOT NULL,
	[EhFimDeSemana] [bit] NOT NULL,
	[EhFeriado] [bit] NOT NULL,
	[DescricaoFeriado] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Data] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuncionarioHierarquia]    Script Date: 05/01/2026 08:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuncionarioHierarquia](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SuperiorChave] [char](4) NULL,
	[SubordinadoChave] [char](4) NULL,
	[TipoRelacao] [varchar](30) NULL,
	[DtInicio] [date] NOT NULL,
	[DtFim] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 05/01/2026 08:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Chave] [char](4) NOT NULL,
	[Matricula] [varchar](30) NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[Funcao] [nvarchar](120) NULL,
	[HierarquiaCodigoOriginal] [varchar](20) NULL,
	[HierarquiaTipoSugerido] [varchar](20) NULL,
	[HierarquiaObservacao] [nvarchar](200) NULL,
	[Ativo] [bit] NOT NULL,
	[CriadoEm] [datetime2](0) NOT NULL,
	[AtualizadoEm] [datetime2](0) NULL,
 CONSTRAINT [PK_Funcionarios] PRIMARY KEY CLUSTERED 
(
	[Chave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HierarquiaRegras]    Script Date: 05/01/2026 08:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HierarquiaRegras](
	[HierarquiaRegraId] [int] IDENTITY(1,1) NOT NULL,
	[Padrao] [varchar](50) NOT NULL,
	[TipoSugerido] [varchar](20) NOT NULL,
	[Observacao] [nvarchar](200) NULL,
 CONSTRAINT [PK_HierarquiaRegras] PRIMARY KEY CLUSTERED 
(
	[HierarquiaRegraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LegendaCodigo]    Script Date: 05/01/2026 08:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LegendaCodigo](
	[Codigo] [varchar](10) NOT NULL,
	[Descricao] [nvarchar](120) NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
	[Icone] [nvarchar](80) NULL,
	[Ordem] [int] NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_LegendaCodigo] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetSubordinadosHierarquia]    Script Date: 05/01/2026 08:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetSubordinadosHierarquia]
(
    @FuncionarioChave CHAR(4) = NULL -- Recebe a chave do funcionário. Se NULL, retorna todos.
)
RETURNS TABLE
AS
RETURN
WITH Hierarquia AS (
    -- Parte Base da CTE: Obtemos os subordinados diretos (primeiro nível)
    SELECT 
        f.[SuperiorChave], 
        f.[SubordinadoChave],
        1 AS Nivel, -- Nível hierárquico (1 para subordinados diretos)
        f1.Nome AS NomeSuperior,
        f2.Nome AS NomeSubordinado
    FROM 
        [dbo].[FuncionarioHierarquia] f
    JOIN
        [dbo].[Funcionarios] f1 ON f1.Chave = f.SuperiorChave
    JOIN
        [dbo].[Funcionarios] f2 ON f2.Chave = f.SubordinadoChave
    WHERE 
        (@FuncionarioChave IS NULL OR f.SuperiorChave = @FuncionarioChave)

    UNION ALL

    -- Parte Recursiva: Obtemos os subordinados indiretos (subordinados de subordinados)
    SELECT 
        f.[SuperiorChave], 
        f.[SubordinadoChave],
        h.Nivel + 1 AS Nivel, -- Nível hierárquico aumenta a cada nível de subordinado
        f1.Nome AS NomeSuperior,
        f2.Nome AS NomeSubordinado
    FROM 
        [dbo].[FuncionarioHierarquia] f
    JOIN 
        Hierarquia h ON h.SubordinadoChave = f.SuperiorChave  -- Recursão: Subordinados de subordinados
    JOIN 
        [dbo].[Funcionarios] f1 ON f1.Chave = f.SuperiorChave
    JOIN 
        [dbo].[Funcionarios] f2 ON f2.Chave = f.SubordinadoChave
    WHERE 
        (@FuncionarioChave IS NULL OR f.SuperiorChave = @FuncionarioChave)
)
SELECT 
    SuperiorChave, 
    SubordinadoChave, 
    Nivel, 
    NomeSuperior,
    NomeSubordinado
FROM Hierarquia


GO
/****** Object:  View [dbo].[vw_AgendaFuncionario]    Script Date: 05/01/2026 08:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AgendaFuncionario] AS
SELECT * 
FROM dbo.AgendaDia
WHERE FuncionarioChave = USER_NAME();

GO
/****** Object:  View [dbo].[vw_HierarquiaCompleta]    Script Date: 05/01/2026 08:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_HierarquiaCompleta]
AS
WITH Base AS (
    SELECT
        f.Chave AS RaizChave
    FROM dbo.Funcionarios f
    WHERE f.Ativo = 1
),

-- =========================
-- 1) SUBIR (chefia acima)
-- =========================
Subir AS (
    -- anchor: começa na raiz (nível 0, sem superior definido aqui)
    SELECT
        b.RaizChave,
        CAST(0 AS INT) AS Nivel,
        CAST(NULL AS VARCHAR(50)) AS SuperiorChave,
        CAST(b.RaizChave AS VARCHAR(50)) AS Chave
    FROM Base b

    UNION ALL

    -- sobe: encontra quem tem a raiz como subordinado (ou seja, o superior direto)
    SELECT
        s.RaizChave,
        s.Nivel - 1 AS Nivel,
        CAST(h.SuperiorChave AS VARCHAR(50)) AS SuperiorChave,
        CAST(h.SuperiorChave AS VARCHAR(50)) AS Chave
    FROM Subir s
    JOIN dbo.FuncionarioHierarquia h
      ON h.SubordinadoChave = s.Chave
     AND h.DtFim >= CONVERT(date, GETDATE())
),

-- =========================
-- 2) DESCER (subordinados)
-- =========================
Descer AS (
    -- anchor: raiz
    SELECT
        b.RaizChave,
        CAST(0 AS INT) AS Nivel,
        CAST(NULL AS VARCHAR(50)) AS SuperiorChave,
        CAST(b.RaizChave AS VARCHAR(50)) AS Chave
    FROM Base b

    UNION ALL

    -- desce: subordinados diretos
    SELECT
        d.RaizChave,
        d.Nivel + 1 AS Nivel,
        CAST(h.SuperiorChave AS VARCHAR(50)) AS SuperiorChave,
        CAST(h.SubordinadoChave AS VARCHAR(50)) AS Chave
    FROM Descer d
    JOIN dbo.FuncionarioHierarquia h
      ON h.SuperiorChave = d.Chave
     AND h.DtFim >= CONVERT(date, GETDATE())
),

Uni AS (
    -- junta subir e descer, removendo duplicata do nível 0
    SELECT * FROM Descer
    UNION
    SELECT * FROM Subir
)

SELECT DISTINCT
    u.RaizChave,
    u.Nivel,

    u.SuperiorChave,
    sup.Nome   AS SuperiorNome,
    sup.Funcao AS SuperiorFuncao,

    u.Chave,
    f.Nome,
    f.Funcao
FROM Uni u
JOIN dbo.Funcionarios f
  ON f.Chave = u.Chave
LEFT JOIN dbo.Funcionarios sup
  ON sup.Chave = u.SuperiorChave
WHERE f.Ativo = 1;

GO
ALTER TABLE [dbo].[AgendaDia] ADD  CONSTRAINT [DF_AgendaDia_Fonte]  DEFAULT ('ESCALA') FOR [Fonte]
GO
ALTER TABLE [dbo].[AgendaDia] ADD  CONSTRAINT [DF_AgendaDia_CriadoEm]  DEFAULT (sysutcdatetime()) FOR [CriadoEm]
GO
ALTER TABLE [dbo].[Calendario] ADD  DEFAULT ((0)) FOR [EhFeriado]
GO
ALTER TABLE [dbo].[FuncionarioHierarquia] ADD  CONSTRAINT [DF_FuncHier_DtInicio]  DEFAULT ('19000101') FOR [DtInicio]
GO
ALTER TABLE [dbo].[FuncionarioHierarquia] ADD  CONSTRAINT [DF_FuncHier_DtFim]  DEFAULT ('99991231') FOR [DtFim]
GO
ALTER TABLE [dbo].[Funcionarios] ADD  CONSTRAINT [DF_Funcionarios_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Funcionarios] ADD  CONSTRAINT [DF_Funcionarios_CriadoEm]  DEFAULT (sysutcdatetime()) FOR [CriadoEm]
GO
ALTER TABLE [dbo].[LegendaCodigo] ADD  CONSTRAINT [DF_LegendaCodigo_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[AgendaDia]  WITH CHECK ADD  CONSTRAINT [FK_AgendaDia_Funcionarios] FOREIGN KEY([FuncionarioChave])
REFERENCES [dbo].[Funcionarios] ([Chave])
GO
ALTER TABLE [dbo].[AgendaDia] CHECK CONSTRAINT [FK_AgendaDia_Funcionarios]
GO
ALTER TABLE [dbo].[AgendaDia]  WITH CHECK ADD  CONSTRAINT [FK_AgendaDia_LegendaCodigo] FOREIGN KEY([Codigo])
REFERENCES [dbo].[LegendaCodigo] ([Codigo])
GO
ALTER TABLE [dbo].[AgendaDia] CHECK CONSTRAINT [FK_AgendaDia_LegendaCodigo]
GO
ALTER TABLE [dbo].[FuncionarioHierarquia]  WITH CHECK ADD  CONSTRAINT [FK_FuncionarioSubordinado] FOREIGN KEY([SubordinadoChave])
REFERENCES [dbo].[Funcionarios] ([Chave])
GO
ALTER TABLE [dbo].[FuncionarioHierarquia] CHECK CONSTRAINT [FK_FuncionarioSubordinado]
GO
ALTER TABLE [dbo].[FuncionarioHierarquia]  WITH CHECK ADD  CONSTRAINT [FK_FuncionarioSuperior] FOREIGN KEY([SuperiorChave])
REFERENCES [dbo].[Funcionarios] ([Chave])
GO
ALTER TABLE [dbo].[FuncionarioHierarquia] CHECK CONSTRAINT [FK_FuncionarioSuperior]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [CK_Funcionarios_Chave4] CHECK  ((len([Chave])=(4)))
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [CK_Funcionarios_Chave4]
GO
ALTER TABLE [dbo].[LegendaCodigo]  WITH CHECK ADD  CONSTRAINT [CK_LegendaCodigo_Tipo] CHECK  (([Tipo]='LOCAL' OR [Tipo]='EVENTO' OR [Tipo]='STATUS'))
GO
ALTER TABLE [dbo].[LegendaCodigo] CHECK CONSTRAINT [CK_LegendaCodigo_Tipo]
GO
